<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
 <form action="/" method="post">
    <input type="text" name="inpText" id="inpText">
    <button>Submit</button>
    <ul>
        {{#each task as |t|}}
            <li>{{t}}</li>
        {{/each}}
    </ul>
 </form>
</body>
</html>